<section id="newHome">
    <div style="border-bottom: 3px double #C4E8F8; padding-bottom: 60px"class="wrapper">
        <div class="text-center">
            <h2 style="padding-bottom: 20px" class="blue-title">O que eu quero ver aqui?</h2>
	    
            <div style="margin: 10px 0">
                <a style="margin-right: 10px; font-size: 20px" class="btn-primary btn-blue btn-left" href="/blog/" >Sou um aluno</a>
                
                <a style="margin-left: 10px; font-size: 20px" class="btn-primary btn-blue btn-left" href="/projetos/">Portfólio pessoal</a>
				
            </div>

        </div>
    </div>
    
    
    
</section>
