<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Projetos</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>The Coronation [Beta]</a></h4>
                    <p>
						<span>Realizei a criação de um jogo para testar a nova Construct 3.<br>
						Continuarei ele futuramente, para que possa ser publicado na Google Play.<br>
					    No momento ele pode ser jogado no próprio navegador (funcional em pc e mobile).<br></span>
					    
					    <a style="margin-left: 200px; font-size: 12px" class="btn-primary btn-blue btn-left" href="/RPG/">Clique para jogar</a>
						
					</p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Contruct 3</a></h4>
                    
                    <p>Jogos criados para aulas mobile.</p>
                    
                    <a style="margin-left: 200px; font-size: 12px" class="btn-primary btn-blue btn-left" href="/DoodleJump/">Doodle Jump</a>
                    <br><br>
                    <a style="margin-left: 180px; font-size: 12px" class="btn-primary btn-blue btn-left" href="/Dino/">Dinossauro (Chrome)</a>
                </div>
            </div>
			<!--<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Selector: A React app</a></h4>
                    <p>
						<span>A simple app to help you make a choice. This is <a href="http://selector.kongsong.me" target="_blank">App demo</a>. It also supports other types of options, not restricted to food. </span>
						<div>
							<a class="github-button" href="https://github.com/songkong/Selector" data-count-href="/songkong/Selector/stargazers" data-count-api="/repos/songkong/Selector#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star songkong/Selector on GitHub">Star</a>
							<a class="github-button" href="https://github.com/songkong/Selector/fork" data-count-href="/songkong/Selector/network" data-count-api="/repos/songkong/Selector#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork songkong/Selector on GitHub">Fork</a>
						</div>
					</p>
                </div>
            </div>-->
        </div>
    </div>
</section>